:root {
  --background-color: #fbfbfd;
  --primary-color: #f5f5f7;
  --branding-color: #0e75a9;
  --heading-font-color: #202124;
  --font-color: #878787;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

.weather h1 {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  color: var(--heading-font-color);
}

.weather .btn {
  background: var(--branding-color);
  color: var(--primary-color);
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.weather #search-input {
  background: var(--primary-color);
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: var(--font-color);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  margin-bottom: 5px;
  color: var(--font-color);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

#temperature {
  font-size: 60px;
  color: var(--heading-font-color);
}

#unit {
  color: var(--heading-font-color);
  font-size: 18px;
  position: relative;
  line-height: 28px;
  top: -34px;
}
